      <!-- Box -->
      <div class="box">
        <div class="usermsg" id="snapshot-processing">
          <h1><%= user_name %>, we need to verify your identity.</h1>
		  <h2>Enrolled students only can use this tool..</h2>
		 
		  <b><p>..thus, you have to authorize this app to access your Coursera basic information,
			  <br>such as your <i>name</i> and your <i>enrollments</i>.</b></p>
		  <p>This information is available to us through the <%= link_to 'official Coursera’s API platform', 'https://tech.coursera.org/app-platform/oauth2/', target: "_blank" %>.</p>
		  <br>
		  <%= button_to 'Proceed', 'auth/coursera', :class => 'form-button', :method => :get %>
		  
		</div>
      </div>
      <!-- //Box -->