      <!-- Box -->
      <div class="box">
        <div class="usermsg" id="snapshot-processing">
          <h1>About snapper</h1>
		  <h5>
		  This tool was designed and developed during the 5th session of <i>Design: Creation of Artifacts in Society</i> MOOC, held by Karl T. Ulrich from the University of Pennsylvania, as an attempt to solve a <em>gap</em> experienced by students.</h5>
		  <br>
		  <h2>The Gap</h2>
		  <h4><i>To be able to make a PDF conversion (from a website page) in a cross-platform and stree-free way.</i></h4>

		</div>
      </div>
      <!-- //Box -->
