      <!-- Box -->
      <div class="box">
        <div class="usermsg" id="snapshot-processing">
          <h1>About snapper.v7</h1>
		  <h4>
		  This tool was designed and developed during the 5th session of 'Design: Creation of Artifacts in Society' MOOC,<br>
		  held by Karl T. Ulrich from the University of Pennsylvania.</h4>
		  <br>
		  <h2>The Gap</h2>
		  <p><i>"Provide the students from all over the world with a tool to perform PDF conversions of _any_ project website page in a bug-free, stress-free, censorship-free and cross-platform way, to be easily submitted in the peer review system."</i></p>
		</div>
      </div>
      <!-- //Box -->
