      <!-- Box -->
      <div class="box">
        <div class="usermsg" id="snapshot-processing">
          <h1>Credits</h1>
		  <h2>Who contributed to this?</h2>
		  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
		  <br>
		</div>
      </div>
      <!-- //Box -->
