      <!-- Box -->
      <div class="box">
        <div class="usermsg" id="snapshot-processing">
          <h1>Frequently Asked Questions</h1>
		  <br>
		  <h2>What is snapper.v7?</h2>
		  <p>See <%= link_to 'About', page_path('about') %>.</p>
		  <br>
		  <h2>Can I use it even if I'm not enrolled in the course?</h2>
		  <p>No. Usage is stricly restricted to enrolled students.</p>
		  <br>
		  <h2>Can I enroll whenever I want?</h2>
		  <p>At the present time: No. New sessions are announced on the <%= link_to 'course page on Coursera', 'https://www.coursera.org/course/design', target: "_blank" %> .</p>
		  
		  <br>
		  [incomplete]
		  
		</div>
      </div>
      <!-- //Box -->
