      <!-- Box -->
      <div class="box">
        <div class="usermsg" id="snapshot-processing">
          <h1>Privacy Policy</h1>
		  <h2>Is my data safe?</h2>
		  <br>
		  <p>Since this tool makes use of the freely available Coursera OAuth2 API, the basic info we retain from you are those we are allowed to access from Coursera, upon your authorization: name and language/country settings.</p>
		  <p>We also read your enrollments, but we do not store them, it's not our business, we just check if you are enrolled <i>also</i> in the course this tool is destined to.</p>
		  <p>Every snapshot you take, if successful, is stored in our server(s) for a undetermined period of time, and <i>we and only we</i> can know if it is linked to you (just in case of debugging purposes).</p>
		  <p>Generated snapshot links, at the present time, can be shared and publicy accessed by anyone, <i>as long as someone shares the link with him</i>; the only information available to the public user are: the snapshot itself (in PNG and PDF format), the source URL, the time (EDT) it was taken on.</p>
			  <p>No other information is publicy available, there is no way for a public user to know about the identity of the snapshot owner.</p>
			  <p>Accesses are logged.</p>
			  <p>You can ask to have your account and all your snapshots removed by sending an email to ask [ [ at ] ] v7.io with subject: "Snapper". 
		  <br>
		</div>
      </div>
      <!-- //Box -->
