      <!-- Box -->
      <div class="box">
        <div class="usermsg" id="snapshot-processing">
          <h1>Privacy Policy</h1>
		  <h2>What about my data?</h2>
		  <br>
		  <p>Since this tool makes use of the freely available Coursera OAuth2 API, the basic info we retain from you are those we are allowed to access directly from Coursera, upon your authorization: <em>name</em> and <em>language/country settings</em>.</p>
		  <p>We also read information about your enrollments, but we do NOT store them, it's not our business, we just check if you are enrolled <i>also</i> in this course.</p>
		  <p>Every snapshot you take, if successful, is stored in our server(s) for a undetermined period of time, and <i>we and only we</i> can know if it is linked to you (just in case of debugging purposes).</p>
		  <p>Generated snapshot links, at the present time, can be shared and publicly accessed by anyone, <i>as long as someone shares the link with him</i>; in any case, the only information available to a public user are: the snapshot itself (in PNG and PDF format), the original source URL, the time (EDT) it was taken on.</p>
			  <p>No other information is publicy available, there is no way for a public user to know about the identity of the user who actually made a snapshot.</p>
			  <p>All accesses are logged.</p>
			  <p>You can ask to have your account and all your snapshots removed by sending an email to snapper [ [ at ] ] v7.io with subject: "Account removal". 
		  <br>
		</div>
      </div>
      <!-- //Box -->
