      <!-- Box -->
      <div class="box">
        <div class="usermsg" id="snapshot-processing">
          <h1>Sorry <%= @username %>, </h1>
		  <h2>The snapshot you requested doesn't exist!</h2>
		</div>
      </div>
      <!-- //Box -->
