      <!-- Box -->
      <div class="box">
        <div class="usermsg" id="snapshot-processing">
          <h1>Hey <%= @username %>, </h1>
		  <h2>Your requested snapshot:</h2>
		  <div class="snapframe"><img src="<%= @snap_url %>.png"></div><br>
		  <%= button_to 'Download PDF', download_path(@snapshot.generated_hash), :class => 'form-button', :method => :get %>
		</div>
      </div>
      <!-- //Box -->
